<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1><a href="{{ site.baseurl }}/index.html">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle" style="text-decoration: none !important;"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="open.html">Open Data y Proceso Constituyente</a></li>
            <li><a href="quienes.html">¿Quienes somos?</a></li>
            <li><a href="subir.html">Subir mi Acta de Encuentro Local</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
