<script src='graficos/regiones_mas_grandes.js'></script>
<script src='graficos/regiones_mas_grandes_10000hab.js'></script>
<script src='graficos/comunas_mas_grandes.js'></script>
<script src='graficos/comunas_mas_grandes_10000hab.js'></script>
<script src='graficos/encuentros_participacion_metropolitana.js'></script>
<script src='graficos/encuentros_por_regiones_enc.js'></script>
<script src='graficos/encuentros_por_regiones_enc10000.js'></script>
<script src='graficos/encuentros_vs_idh_comunas.js'></script>
<script src='graficos/encuentros_vs_idh_regiones.js'></script>
<script src='graficos/encuentros_vs_participacion_comunas.js'></script>
<script src='graficos/encuentros_vs_participacion_regiones.js'></script>
<script src='graficos/encuentros_vs_participacion_regiones_active.js'></script>
<script src='graficos/cuenta_encuentros.js'></script>
<script src='graficos/cuenta_acumulada_encuentros.js'></script>