@font-face {
  font-family: 'Charter';
  font-weight: normal;
  font-style: normal;
  src:url("../fonts/chn.eot?#iefix");
  src:url("../fonts/chn.eot?#iefix") format("embedded-opentype"),
  url("../fonts/chn.woff") format("woff");
  letter-spacing: -.004em;
}

@font-face{
  font-family: 'Kievit';
  font-weight: normal;
  font-style: normal;
  src:url("../fonts/kvn.eot?#iefix");
  src:url("../fonts/kvn.eot?#iefix") format("embedded-opentype"),
  url("../fonts/kvn.woff") format("woff");
  letter-spacing: -.028em;
}

@font-face{
  font-family: 'Kievit';
  font-weight: normal;
  font-style: italic;
  src:url("../fonts/kvi.eot?#iefix");
  src:url("../fonts/kvi.eot?#iefix") format("embedded-opentype"),
  url("../fonts/kvi.woff") format("woff");
  letter-spacing: -.028em;
}

@font-face{
  font-family: 'Kievit';
  font-weight: bold;
  font-style: normal;
  src:url("../fonts/kvb.eot?#iefix");
  src:url("../fonts/kvb.eot?#iefix") format("embedded-opentype"),
  url("../fonts/kvb.woff") format("woff");
  letter-spacing: -.028em;
}

@font-face{
  font-family: 'Kievit';
  font-weight: bold;
  font-style: italic;
  src:url("../fonts/kvbi.eot?#iefix");
  src:url("../fonts/kvbi.eot?#iefix") format("embedded-opentype"),
  url("../fonts/kvbi.woff") format("woff");
  letter-spacing: -.028em;
}